.stopwatch {
    font-size: 15rem;
}

#timer-is-runing-not {
    text-align: end; 
}

#soundOnIcon {
    display: none;
}

#soundOffIcon {
    display: inline-block;
}

#timer-is-runing {
    display: none;
    text-align: end;
}

#future {
    display: none;
}

#start-time {
    justify-content: center;
}

#start-time:before {
    content: 'Beginn:';
    margin-right: .6em;
    color: #6c757d;
}

#intro-text {
    display: none;
}

#progress-bar {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: none;
}

#progress {
    height: 100%;
    background-color: #fff;
    transition: width 1s linear;
}

@media (max-width: 991.98px) {
    .stopwatch {
        font-size: 8rem;
    }

    .stopwatch-flex-container {
        flex-direction: column;
    } 

    #timer-is-runing, #timer-is-runing-not {
        text-align: start;
        margin-top: 5px;
    }

    .settings input {
        border-radius: 0;
    }

    .settings button {
        border-radius: 0;
    }

    .settings-input {
        flex: 100%;
    }

    .countdown-info-text {
        margin-top: 15px;
    }
}

/* @media (max-width: 767.98px) {

} */

.accordion-button:not(.collapsed) {
    background-color: inherit !important;
    color:inherit !important;
    box-shadow: inherit;
}

.accordion-button:focus {
    box-shadow: inherit;
}

.accordion-button:hover {
    box-shadow: inset 0 .5rem 1rem rgba(0, 0, 0, .15);
}

@media only screen and (max-width: 300px) {
    .stopwatch {
        font-size: 3rem;
    }
}

.stop-watch-container--done {
    display: none;
}